<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inicio.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">

</head>
<body>



    <div id="mainMenu" style="display: none;">
        <div class="menu-container">
            <h2>Menú Principal</h2>
            <button onclick="showProductManagement()">Gestión de Productos</button>
            <button onclick="generateReport()">Generar Reporte</button>
            <button onclick="logout()">Cerrar Sesión</button>
        </div>
    </div>
    

    <div id="pdfContainer" style="display: none; margin: 20px auto; width: 80%; height: 500px; border: 1px solid black;">
        <button onclick="returnToMenu()">Volver al Menú</button>
        <iframe id="pdfViewer" style="width: 100%; height: 100%;" frameborder="0"></iframe>
    </div>
    
    

    <!-- Modal de Login -->
    <div id="loginModal" style="display: block;">
        <img id="modalImage" src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Imagen" />
        <form id="loginForm">
            <h2>Iniciar Sesión</h2>
            <input type="text" id="username" placeholder="Nombre de usuario" required>
            <input type="password" id="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <p id="loginError" style="color: red; display: none;">Credenciales incorrectas</p>
    </div>

        
    
    <div id="appContent" style="display: none;">
        <button onclick="returnToMenu()">Volver al Menú</button>
        <div class="container">
            <h1 style="font-family: monospace; font-size: 35px;">Lista de Productos</h1>
            <div style="margin-bottom: 20px;">
                <button id="addProductButton" onclick="openProductModal()">Gestionar Productos</button>

                <!-- Botón de Cerrar Sesión -->
                <button id="logoutButton">Cerrar Sesión</button>
            </div>
    
            <table id="productTable" border="1">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Categoría</th>
                        <th>Imagen</th>
                    </tr>
                </thead>
                <tbody id="productList">
                    <!-- Productos cargados dinámicamente -->
                </tbody>
            </table>
            <div id="pagination" style="text-align: center; margin-top: 20px;"></div>
        </div>
    
        <!-- Modal de opciones (Agregar, Editar, Eliminar) -->
        <div id="productModal" style="display: none;" class="modal">
            <div class="modal-content">
                <div class="tab-buttons">
                    <button class="tab-button" onclick="openTab('add')">Agregar Producto</button>
                    <button class="tab-button" onclick="openTab('edit')">Editar Producto</button>
                    <button class="tab-button" onclick="openTab('delete')">Eliminar Producto</button>
                </div>
    
                <!-- Contenido de cada pestaña -->
                <div id="addTab" class="tab-content">
                    <form id="productForm">
                        <input type="hidden" id="productId">
                        <input type="text" id="name" placeholder="Nombre" required>
                        <input type="text" id="description" placeholder="Descripción" required>
                        <input type="number" id="quantity" placeholder="Cantidad" required>
                        <input type="number" id="price" placeholder="Precio" required>
                        <input type="text" id="category" placeholder="Categoría" required>
                        <input type="text" id="image" placeholder="URL de Imagen" required>
                        <button type="submit">Guardar</button>
                        <button class="closeModalButton1" type="button" onclick="closeModal()">Cancelar</button>
                    </form>
                </div>
    
                <div id="editTab" class="tab-content" style="display:none;">
                    <form id="editProductForm">
                        <input type="number" id="editProductCode" placeholder="Introduce el Código" required>
                        <button type="button" onclick="loadProductForEditing()">Cargar Producto</button>
                        <input type="text" id="editName" placeholder="Producto" required>
                        <input type="text" id="editDescription" placeholder="Descripción" required>
                        <input type="number" id="editQuantity" placeholder="Stock" required>
                        <input type="number" id="editPrice" placeholder="Precio Unitario" required>
                        <input type="text" id="editCategory" placeholder="Categoría" required>
                        <input type="text" id="editImage" placeholder="Imagen URL" required>
                        <button type="submit">Guardar</button>
                        <button class="closeModalButton1" type="button" onclick="closeModal()">Cancelar</button>
                    </form>
                </div>
    
                <div id="deleteTab" class="tab-content" style="display:none;">
                    <form id="deleteProductForm">
                        <label for="deleteProductCode">Código del Producto:</label>
                        <input type="number" id="deleteProductCode" placeholder="Introduce el código" required>
                        <button type="submit">Eliminar</button>
                        <button class="closeModalButton1" type="button" onclick="closeModal()">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.8/pdfobject.min.js"></script>

    <script src="/js/inicio.js"></script>
</body>
</html>
